body {
  margin: 0;
  background: black;
  font-family: Arial;
  color: white;
  text-align: center;
}

#menu {
  margin-top: 120px;
}

#levelButtons button {
  padding: 15px 40px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
}

.hidden {
  display: none;
}

#topbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #111;
}

#progressContainer {
  width: 300px;
  height: 14px;
  background: #333;
}

#progressBar {
  height: 100%;
  width: 0%;
  background: lime;
}
